

<div class="login-form-flex">
  <mat-card class="mat-card" align="center">
    <mat-card-content>
      <mat-card-title>
        Login
      </mat-card-title>

      <form class="user">
        <mat-form-field class="form-group">

          <input matInput type="email" id="exampleInputEmail" aria-describedby="emailHelp" name="login" placeholder="Enter Email Address..." [(ngModel)]="email">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="forgetPwd()" >
          <mat-icon class="material-icons">check</mat-icon>send me an email
        </button>
      </form>
      <hr>
      <div class="text-center">BACK TO
        <a class="small" routerLink="/login"> LOGIN </a>
      </div>


    </mat-card-content>
  </mat-card>
</div>
