
<h1> Liste capteurs {{data.nom}}</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID.</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
   <!-- Name Column -->
   <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{element.nom}}</td>
  </ng-container>  

  <!-- Name Column -->
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef>Numéro</th>
    <td mat-cell *matCellDef="let element">{{element.numero}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="modeleCapteur">
    <th mat-header-cell *matHeaderCellDef>ModeleCapteur</th>
    <td mat-cell *matCellDef="let element">{{element.modeleCapteur}}</td>
  </ng-container> 
    <!-- Weight Column -->
    <ng-container matColumnDef="etat">
      <th mat-header-cell *matHeaderCellDef>Etat</th>
      <td mat-cell *matCellDef="let element">{{element.etat}}</td>
    </ng-container> 
        <!-- Weight Column -->
        <ng-container matColumnDef="dateUtilisation">
          <th mat-header-cell *matHeaderCellDef>dateUtilisation</th>
          <td mat-cell *matCellDef="let element">{{element.dateUtilisation   | date:'dd/MM/yyyy'}}</td>
        </ng-container> 
            <!-- Weight Column -->
    <ng-container matColumnDef="dateExpiration">
      <th mat-header-cell *matHeaderCellDef>dateExpiration</th>
      <td mat-cell *matCellDef="let element">{{element.dateExpiration  | date:'dd/MM/yyyy'}}</td>
    </ng-container> 
   



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>

