<!-- Section: Design Block -->
<body class="img js-fullheight" style="background-image: url(../../../assets/bg1.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">	
                        Réinitialiser votre mot de passe
          </h2>
          <img src="../../../assets/logo.png" style="width: 150px;" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
				</div>
        
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
          
					<div class="login-wrap p-0">
		      	<form  class="signin-form">
		      		<div class="form-group">
                <input matInput class="form-control" type="email" id="exampleInputEmail" aria-describedby="emailHelp" name="code" placeholder="Code" [(ngModel)]="code">
		      		</div>
                <div class="form-group">
                <input matInput class="form-control" type="password" id="exampleInputEmail" aria-describedby="emailHelp" name="code" placeholder="Nouveau Mot de passe" [(ngModel)]="newPassword">
		      		</div>    
	            
	            <div class="form-group">
	            	<button mat-raised-button color="accent"  class="form-control btn btn-primary submit px-3" (click)="changePassword()">Changer</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	
								</div>
								<div class="w-50 text-md-right">
									<a routerLink="/login" style="color: #e3ed22">Se Connecter !?</a>
								</div>
	            </div>
              

             
	          </form>
	          
		      </div>
				</div>
			</div>
		</div>
	</section>

	</body>

