<router-outlet></router-outlet>
<div class="footer">
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <br>
          <img style="width: 130px;" src="../assets/logo2.png" alt="">

        </div>
        <div class="col-lg-3 col-xs-12 links">
            <strong class="mt-lg-0 mt-sm-3" style="font-size: xx-large;">Emplacement</strong> <br><br>
            <p>Technopole de Sfax : <br> à CoStarT pépinière d'entreprise
              cité El Ons <br>
              Route de Tunis km10 3021
              Sfax.</p>
          </div>
          <div class="col-lg-4 col-xs-12 location">
            <strong class="mt-lg-0 mt-sm-4" style="font-size: xx-large;">Contact</strong><br><br>
            <p>Numéro de téléphone: +216 27 577 756 <br> <br> Email: manel.elleuchi@wedtect.com</p>
          </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2023. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>
